/* Reset default margin and padding */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
/* Adjust the styling as per your requirements */
form {
  display: flex-direction;
  align-items: center;
  float: right;
}

input[type="text"] {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 6px 12px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Set font and background colors */
body {
    font-family: Arial, sans-serif;
    background-color: yellow;
    color: black;
}

/* Style the header */
header {
    background-color: blue;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 24px;
}

/* Style the navigation */
nav {
    background-color: black;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.menu {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.line {
    width: 100%;
    height: 2px;
    background-color: white;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
}

.dropdown-content li {
    padding: 10px;
}

.dropdown-content li:hover {
    background-color: #e5e5e5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the main content */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
}

/* Style the footer */
footer {
    background-color: gray;
    padding: 10px;
    text-align: center;
}

p {
    color: black;
    font-size: 14px;
}
